{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <title>{% block title %}Book Quiz{% endblock %}</title>
    {% block scripthead %}
    {% endblock scripthead %}
  </head>

  <body>
    <nav class="light-blue lighten-1" role="navigation">
      <div class="nav-wrapper container">
        <span id="logo-container" href="/" class="brand-logor" style="font-size:20px; color: #eeeeee">
          {{ user.username.capitalize }} | score: {{ user.player.first.score}}
        </span>
        <a id="logo-container" href="/" class="brand-logo center">
          Book Quiz
        </a>
        <ul class="right hide-on-med-and-down">
          <li>
            {% if user.is_authenticated %}
            <a href="{% url "logout" %}?next=/"><u>SAIR DO SISTEMA</u></a>
            {% endif %}
          </li>
        </ul>

        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
    </nav>
    {% block content %}
    {% endblock content %}

    <!--JavaScript at end of body for optimized loading-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
