{% extends 'base.html' %}

{% block content %}
<div class="container">
  <br>
  {% if answer.is_correct %}
  <div class="card-panel teal lighten-2">
    Genio! Você acertou.
  </div>
  {% else %}
  <div class="card-panel red lighten-2">
    Jovem, você errou! Essa foi sua tentativa número <b>{{ answer|length }}</b>
  </div>
  <a href="/questions/play/{{ answer.question.id }}" class="btn">Tentar novamente</a>
  {% endif %}
  <a href="/questions/{{ answer.book.id }}" class="btn">Voltar para perguntas</a>
  <a href="/" class="btn">Início</a>
  <br><br>
</div>
{% endblock content %}
