{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="jumbotron my-4">
    <center>
      <h3 class="text-primary">{{question.text}}</h3>
    </center>
    <form action="/questions/play/{{question.id}}" method="post">
      <fieldset class="form-group">
        <div class="row">
          <div class="col-sm-10">
            {% csrf_token %}
            {% for choice in form.choice %}
            <div class="form-check">
              {{ choice.tag }}
              <label class="form-check-label" for="{{ choice.id_for_label }}">
                {{ choice.choice_label }}
              </label>
            </div>
            {% endfor %}
          </div>
        </div>
      </fieldset>
      <div class="form-group row">
        <div class="col-sm-10">
          <input type="submit" class="btn btn-primary" value="Responder"></button>
          <input type=button class="btn btn-danger" value="Cancelar" onClick="javascript:history.go(-1);">
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
