{% extends 'base.html' %}

{% block content %}
<!--
<div class="container">
  <div class="alert alert-success" role="alert">
   Genio! Você acertou a pergunta, jovem
  </div>
  <div class="alert alert-danger" role="alert">
    Jovem, você errou!
  </div>
  <div class="alert alert-warning" role="alert">
    Jovem, seu tempo ta acabando
  </div>
</div>
-->

<div class="container">
  <div class="alert alert-info" role="alert">
    <center>
      O livro é: <b>{{question.book.title}}</b>
    </center>
  </div>
</div>

<div class="container">
  <div class="jumbotron my-4">
    <center>
      <h3 class="text-primary">{{question.text}}</h3>
    </center>
    <form action="/questions/play/{{question.id}}" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Responder</button>
      <input type=button class="btn btn-danger" value="Cancelar" onClick="javascript:history.go(-1);">
      {{form.errors}}
    </form>
  </div>
</div>
{% endblock content %}
