{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="alert alert-success" role="alert">
   Genio! Você acertou a pergunta, jovem
  </div>
  <div class="alert alert-danger" role="alert">
    Jovem, você errou!
  </div>
  <div class="alert alert-warning" role="alert">
    Jovem, seu tempo ta acabando
  </div>
</div>

<div class="container">
  <div class="jumbotron my-4">
    <h3 class="text-primary">Teste teste teste teste teste ajsiosajioasjdioas</h3>
    <form class="form" action="" method="post">
      {% csrf_token %}
      <input type="hidden" name="question_pk" value="">

      <div class="form-check mx-4">
        <input class="form-check-input" type="radio" name="choice_pk" id="choice-" value="">
        <label class="form-check-label" for="choice-">
        </label>
      </div>

      <input class="btn btn-dark btn-lg mt-4" type="submit" value="Responder">
    </form>
  </div>
</div>
{% endblock content %}
